body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.dinosaur{
    position: relative;
}
.dinosaur-img{
    position: absolute;
    left: 5px;
    bottom: 12px;

    width: 80px;
    height: 80px;
    background-image: url('../image/wow.png');
    background-size: 80px 80px;
}
